VITE_STORE_NAME=WarungEmakAti
VITE_WHATSAPP_NUMBER=62887433130861
VITE_WHATSAPP_DEFAULT_MESSAGE=Halo, saya ingin memesan produk berikut
VITE_CURRENCY=IDR
VITE_API_BASE_URL=https://warung-emak-ati-jungkel.vercel.app
